
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Actualizar Insumo</title>
  <link rel="stylesheet" href="../css/pages/actualizar-insumo-style.css" />
</head>
<body>
  <header class="header">
    <div class="header__logo"></div>
  </header>

  <main class="main">
    <section class="main__section">
      <h1>Actualizar Insumo</h1>
    </section>

    <form id="form-actualizar-insumo" class="form">
      <div class="form__group">
        <label class="form__group-label" for="nombre-insumo">Nombre del insumo *</label>
        <input class="form__group-input" type="text" id="nombre-insumo" name="nombre_insumo" required>
      </div>
      <div class="form__group">
        <label class="form__group-label" for="tipo-insumo">Tipo de insumo *</label>
        <input class="form__group-input" type="text" id="tipo-insumo" name="tipo_insumo" required>
      </div>
      <div class="form__group">
        <label class="form__group-label" for="unidad-insumo">Unidad de medida *</label>
        <input class="form__group-input" type="text" id="unidad-insumo" name="unidad_medida" required>
      </div>
      <div class="form__group">
        <label class="form__group-label" for="cantidad-insumo">Cantidad *</label>
        <input class="form__group-input" type="number" id="cantidad-insumo" name="cantidad" required>
      </div>
      <div class="form__group">
        <label class="form__group-label" for="valoru-insumo">Valor unitario *</label>
        <input class="form__group-input" type="number" id="valoru-insumo" name="valor_unitario" required>
      </div>
      <div class="form__group">
        <label class="form__group-label" for="valor-total">Valor total</label>
        <input class="form__group-input" type="number" id="valor-total" name="valor_total" readonly>
      </div>
      <div class="form__group">
        <label class="form__group-label" for="descripcion-insumo">Descripción</label>
        <textarea class="form__group-textarea" id="descripcion-insumo" name="descripcion" required></textarea>
      </div>
      <div class="form__group">
        <label class="form__group-label" for="estado-insumo">Estado</label>
        <select class="form__group-input" id="estado-insumo" name="estado" required>
          <option value="Activo">Activo</option>
          <option value="Inactivo">Inactivo</option>
        </select>
      </div>

      <div class="form__button-group">
        <a href="listar-insumo-sebas.html" class="form__button form__button--back">Volver</a>
        <button type="submit" class="form__button form__button--save">Guardar</button>
      </div>
    </form>
  </main>

  <script src="../js/pages/actualizar-insumo.js"></script>
    <script src="../js/pages/permissions.js"></script>
</body>
</html>
