<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISTEMA GESTION AGRICOLA LEMBO (S.G.A.L)</title>
    <link rel="stylesheet" href="../css/pages/completerecover-style.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="/frontend/IMG/logo-sena.png" alt="Logo SENA" class="header__logo">
        </header>
        <main class="main">
            <section class="verification">
                <div class="verification__background">
                    <div class="verification__icon-wrapper">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="verification__icon">
                            <mask id="mask0_4210_134"  maskUnits="userSpaceOnUse" x="2" y="9" width="38" height="23">
                            <path d="M3.33325 22.5L9.99992 29.1667L27.9166 11.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12.5 22.5L19.1667 29.1667L37.0833 11.25" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12.5 22.5L19.1667 29.1667L37.0833 11.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </mask>
                            <g mask="url(#mask0_4210_134)">
                            <path d="M40 0H0V40H40V0Z" fill="black"/>
                            </g>
                        </svg>
                    </div>
                    <div class="verification__container">
                        <div class="verification__content">
                            <div class="verification__title">
                                <h2 class="verification__heading">Se ha verificado el código del correo electrónico. <br> Su contraseña se envió a su bandeja</h2>
                            </div>
                            <div class="verification__form-group">
                            </div>
                        </div>
                        <div class="verification__side">
                        </div>
                    </div>
                    <button class="verification__button verification__button--finish">Finalizar</button>
                </div>
            </section>
        </main>
    </div>
</body>
</html>