<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Gestión Agrícola Lembo</title>
    <link rel="stylesheet" href="../css/pages/home-style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="page">
    <div class="gov">
        <img src="/frontend/IMG/gov_co.png" alt="">
    </div>
    <header class="page__header">
        <div class="page__header-logo"></div>
        <h1 class="page__header-title">Sistema Gestión Agrícola Lembo <br><span class="page__header-subtitle">S.G.A.L</span></h1>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__list-item"><a href="../views/listar-ciclo-cultivo-sebas.html" class="nav__list-link">Ciclo Cultivo</a></li>
                <li class="nav__list-item"><a href="../views/listar-cultivo-sebas.html" class="nav__list-link">Cultivos</a></li>
                <li class="nav__list-item"><a href="../views/listar-sensor-sebas.html" class="nav__list-link">Sensores</a></li>
                <li class="nav__list-item"><a href="../views/listar-insumo-sebas.html" class="nav__list-link">Insumos</a></li>
                <li class="nav__list-item"><a href="../views/lista-usuario.html" class="nav__list-link">Usuarios</a></li>
                <li class="nav__list-item"><a href="../views/integracion.html" class="nav__list-link">Integración</a></li>
            </ul>
        </nav>
        <div class="page__header-user--options">
            <a href="#" class="page__header-user--link" id="user-info">ADMIN</a>
            <a href="#" class="page__header-logout--link" onclick="logout()">LOGOUT</a>
        </div>
    </header>
    <main class="main">
        <section class="main__welcome">
            <h2 class="main__welcome-title" id="welcome-message">Bienvenid@ "User"</h2>
        </section>
        <section class="content">
            <div class="content__cards">
                <div class="content__cards-card content__cards-card--cultivos">
                    <h3 class="content__card-title">Cultivos Activos</h3>
                    <div class="content__card-chart">
                        <canvas id="cultivosChart"></canvas>
                    </div>
                    <div id="cultivos-data" class="content__card-data">
                        </div>
                </div>
                <div class="content__cards-card content__cards-card--sensores">
                    <h3 class="content__card-title">Estado de Sensores</h3>
                    <div class="content__card-chart">
                        <canvas id="sensoresChart"></canvas>
                    </div>
                    <div id="sensores-data" class="content__card-data">
                        </div>
                </div>
                <div class="content__cards-card content__cards-card--info">
                    <h3 class="content__card-title">Resumen de Insumos</h3>
                    <div class="content__card-chart">
                        <canvas id="insumosChart"></canvas>
                    </div>
                    <div id="insumos-data" class="content__card-data">
                        </div>
                </div>
            </div>
        </section>
    </main>
    <div class="gov_co">
        <img src="/frontend/IMG/gov_co.png" alt="">
    </div>

    <script src="../js/pages/home.js"></script>
    <script src="../js/pages/permissions.js"></script>
</body>
</html>