<!DOCTYPE html> 
<html lang="en">  
<head>     
    <meta charset="UTF-8">     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">     
    <link rel="stylesheet" href="../css/pages/listar-sensor-sebas-style.css">     
    <title>Listar sensor</title> 
</head> 
<body>     
    <main class="sensor">         
        <h1 class="sensor__title">Listado de Sensores</h1>          
        <img src="/frontend/IMG/logo-sena.png" alt="Logo SENA" class="sensor__logo">          
        <div class="sensor__control-panel">             
            <input type="text" placeholder="Buscar usuarios..." class="sensor__search">             
            <div class="sensor__button-group">
                <button type="submit" class="sensor__button sensor__button--green">Filtrar</button>                           
                <button type="submit" class="sensor__button sensor__button--green-alt">Ordenar</button>
            </div>                      
            <button type="submit" class="sensor__button sensor__button--gray" onclick="window.location.href='../views/excel.html'">Generar Reporte</button>              
        </div>          
        <table class="sensor__table-header">             
            <thead>                 
                <tr>                     
                    <th>ID</th>                     
                    <th>Nombre</th>                     
                    <th>Tipo</th>                     
                    <th>Ubicación</th>                     
                    <th>Estado</th>                     
                    <th>Acciones</th>                 
                </tr>             
            </thead>         
        </table>          
        <table class="sensor__table">             
            <tr class="sensor__table-row">                 
                <td>001</td>                 
                <td>Sensor de Temperatura 1</td>                 
                <td>Temperatura</td>                 
                <td>Sala de servidores</td>                 
                <td>Activo</td>                 
                <td>                     
                    <a href="visualizar-sensor.html">                 
                        <button type="submit" class="sensor__button sensor__button--blue">Editar</button>             
                    </a>                 
                    <button type="submit" class="sensor__button sensor__button--purple">Habilitar</button>             
                </td>             
            </tr>         
        </table>         
        <div class="bottom-buttons">
            <a href="create-sensor.html">
            <button class="sensor__button--green1">Crear Sensor</button>
        </a>
        <a href="../views/home.html">
            <button class="sensor__button--return">Volver</button>
        </a>
        </div>    
    </main> 
</body> 
</html>