<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pages/listar-ciclo-cultivo-sebas-style.css">
    <title>Listar Cultivos</title>
</head>
<body>
    <div class="gov">
        <img src="/frontend/IMG/gov_co.png" alt="">
    </div>
    <h1>Listar Cultivos</h1>
    <img src="/frontend/IMG/logo-sena.png" alt="Logo SENA" class="header__logo">
    
    <div class="header">
        <input type="text" placeholder="Buscar cultivos..." class="header__search">
        <input type="submit" class="button button--green" value="Filtrar">
        <div>
            <a href="../views/excel.html">
                <input class="button button--gray" type="submit" value="Generar Reporte">
            </a>
        </div>
    </div>

    <main>
        <div class="main__container">
            <div id="cards" class="cards">
                </div>
        </div>

        <div class="footer">
            <div class="footer__buttons">
                <a href="../views/home.html">
                    <input type="submit" class="button button--return" value="Volver">
                </a>
            </div>
            <div class="footer__pagination">
                <button class="pagination__button">1</button>
                <button class="pagination__button">2</button>
                <button class="pagination__button">3</button>
            </div>
            <div class="footer__buttons">
                <a href="create-cultivo.html">
                    <input type="submit" class="button button--crear" value="Crear Cultivo">
                </a>
            </div>
        </div>
    </main>

    <script src="../js/pages/listar-cultivo-sebas.js"></script>
    <script src="../js/pages/permissions.js"></script>
    <div class="gov_co">
        <img src="/frontend/IMG/gov_co.png" alt="">
    </div>
    </body>
</html>