<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pages/listar-ciclo-cultivo-sebas-style.css">
    <title>Listar ciclo de cultivo</title>
</head>
<body>
    <h1>Listar Ciclo Cultivos</h1>
    <img src="/frontend/IMG/logo-sena.png" alt="Logo SENA" class="header__logo">
    <div class="header">
        <input type="text" placeholder="Buscar ciclo de cultivo..." class="header__search">
        <input type="submit" class="button button--green" value="Filtrar">
        <div>
            <a href="../views/excel.html">
            <input class="button button--gray" type="submit" value="Generar Reporte">
            </a>
        </div>
    </div>
    <main>
        <div class="main__container">
            <div class="cards">
                <div class="card">
                    <h3 class="card__title">Fertilizante Orgánico</h3>
                    <p class="card__info">Código: FOP-2023</p>
                    <p class="card__info">Cantidad: 5000 kg</p>
                    <p class="card__info">Precio: $2.50/kg</p>
                    <a href="visualizar-ciclo-cultivo.html">
                    <input type="submit" class="card__button" value="Ver detalles">
                    </a>
                </div>
                <div class="card">
                    <h3 class="card__title">Pesticida Natural</h3>
                    <p class="card__info">Código: PEN-2023</p>
                    <p class="card__info">Cantidad: 1000 L</p>
                    <p class="card__info">Precio: $15.00/L</p>
                    <a href="visualizar-ciclo-cultivo.html">
                    <input type="submit" class="card__button" value="Ver detalles">
                    </a>
                </div>
                <div class="card">
                    <h3 class="card__title">Semillas de Tomate</h3>
                    <p class="card__info">Código: SET-2023</p>
                    <p class="card__info">Cantidad: 10000 unidades</p>
                    <p class="card__info">Precio: $0.05/unidad</p>
                    <a href="visualizar-ciclo-cultivo.html">
                    <input type="submit" class="card__button" value="Ver detalles">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer__buttons">
                <a href="create-ciclo-cultivo.html">
                <input type="submit" class="button button--return" value="Crear Ciclo Cultivo">
                </a>
            </div>
            <div class="footer__pagination">
                <button class="pagination__button">1</button>
                <button class="pagination__button">2</button>
                <button class="pagination__button">3</button>
            </div>
            <div class="footer__buttons">
                <a href="../views/home.html">
                <input type="submit" class="button button--return" value="Volver">
                </a>
            </div>
        </div>
    </main>
    <script src="../js/pages/listar-ciclo-cultivo.js"></script>
</body>
</html>