<!DOCTYPE html>
<html lang="en">  
<head>     
    <meta charset="UTF-8">     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">     
    <link rel="stylesheet" href="../css/pages/listar-sensor-sebas-style.css">     
    <title>Listar sensor</title> 
</head> 
<body>  
    <div class="gov">
        <img src="/frontend/IMG/gov_co.png" alt="">
    </div>   
    <main class="sensor">         
        <h1 class="sensor__title">Listado de Sensores</h1>          
        <img src="/frontend/IMG/logo-sena.png" alt="Logo SENA" class="sensor__logo">          

        <div class="sensor__control-panel">             
            <input type="text" placeholder="Buscar usuarios..." class="sensor__search">             
            <div class="sensor__button-group">
                <button type="submit" class="sensor__button sensor__button--green">Filtrar</button>                           
                <button type="submit" class="sensor__button sensor__button--secundary">Ordenar</button>
            </div>                      
            <button type="submit" class="sensor__button sensor__button--gray" onclick="window.location.href='../views/excel.html'">Generar Reporte</button>              
        </div>          

        <table class="sensor__table-header">             
            <thead>                 
                <tr>                     
                    <th>ID</th>                     
                    <th>Nombre</th>                     
                    <th>Tipo</th>                     
                    <th>Referencia</th>                     
                    <th>Estado</th>                     
                    <th>Acciones</th>                 
                </tr>             
            </thead>         
        </table>          

        <table class="sensor__table">             
            <tbody id="sensorTableBody">
                </tbody>
        </table>         

        <div class="bottom-buttons">
            <a href="../views/home.html">
                <button class="sensor__button--return">Volver</button>
            </a>
            <a href="create-sensor.html">
                <button class="sensor__button--green1">Crear Sensor</button>
            </a>
        </div>    
    </main> 

    <script src="../js/pages/listar-sensor-sebas.js"></script>
    <script src="../js/pages/permissions.js"></script>
    <div class="gov_co">
        <img src="/frontend/IMG/gov_co.png" alt="">
    </div>
</body> 
</html>