<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pages/login-style.css">
    <title>Login</title>
</head>
<body>
    <img src="/frontend/IMG/gov.png" alt="Gobierno" class="gov-image-top">
    <section class="login">
        <div class="login__form-container">
            <form class="login__form" id="login-form">
                <h1 class="login__title">LOGIN</h1>
                <input type="email" placeholder="Correo Electrónico" class="login__input login__input--username" required>
                <input type="password" placeholder="Contraseña" class="login__input login__input--password" required>
                <a href="../views/recover.html" class="login__recover-link">
                    <p class="login__recover-text">¿Olvidaste la contraseña?</p>
                </a>
                <button type="submit" class="login__button">Iniciar Sesión</button>
            </form>
        </div>
        <section class="login__image-container">
        </section>
    </section>
    <img src="/frontend/IMG/gov.png" alt="Gobierno" class="gov-image-bottom">
    <div class="error-message">
        Los números no están permitidos en el nombre de usuario
    </div>
    <script src="/frontend/public/js/pages/script-login.js"></script>
    <script src="../js/pages/permissions.js"></script>
</body>
</html>