<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISTEMA GESTION AGRICOLA LEMBO (S.G.A.L)</title>
    <link rel="stylesheet" href="../css/pages/recover-style.css">
</head>
<body class="page">
    <div class="page__container">
        <header class="page__header">
            <img src="/frontend/IMG/logo-sena.png" alt="Logo SENA" class="page__header-logo">
        </header>
        <main class="main">
            <section class="main__recovery">
                <div class="main__recovery-background">
                    <h1 class="main__recovery-title">Recuperacion</h1>
                    <div class="main__recovery-form">
                        <div class="main__recovery-column main__recovery-column--left">
                            <h2 class="main__recovery-heading">Restablece tu contraseña</h2>
                            <div class="main__recovery-field">
                                <input type="text" id="documentNumber" placeholder="Correo Electrónico" name="documentNumber" class="main__recovery-input">
                            </div>
                            <a href="../views/login.html">
                            <h3 class="main__recovery-link--text">¿Volver al inicio de Sesion?</h3>
                            </a>
                        </div>
                        <div class="main__recovery-column main__recovery-column--right">
                        </div>
                        <a href="../views/code.html">
                        <button class="button button--next">Siguiente</button>
                        </a>    
                    </div>
                    <a href="../views/login.html">
                    <button class="button button--back">Volver</button>
                    </a>
                </div>
            </section>
        </main>
    </div>
</body>
</html>