<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISTEMA GESTION AGRICOLA LEMBO (S.G.A.L)</title>
    <link rel="stylesheet" href="../css/pages/recover-style.css">
</head>
<body class="page">
    <div class="container">
        <header class="header">
            <img src="/frontend/IMG/logo-sena.png" alt="Logo SENA" class="header__logo">
        </header>
        <main class="main">
            <section class="recovery">
                <div class="recovery__background">
                    <h1 class="recovery__title">Recuperacion</h1>
                    <div class="recovery__form">
                        <div class="recovery__column recovery__column--left">
                            <h2 class="recovery__heading">Restablece tu contraseña</h2>
                            <div class="recovery__field">
                                <input type="text" id="documentNumber" placeholder="Correo Electrónico" name="documentNumber" class="recovery__input">
                            </div>
                            <h3 class="recovery__link-text">¿Volver al inicio de Sesion?</h3>
                        </div>
                        <div class="recovery__column recovery__column--right">
                        </div>
                        <button class="button button--next">Siguiente</button>
                    </div>
                    <button class="button button--back">Volver</button>
                </div>
            </section>
        </main>
    </div>
</body>
</html>