<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Sensor</title>
    <link rel="stylesheet" href="../css/pages/visualizar-sensor-style.css">
</head>
<body>
    <div class="container">
        <header class="container__header">
            <img src="/frontend/IMG/logo-sena.png" alt="SENA Logo" class="container__header-logo">
            <h1 class="container__header-title">Visualizar Sensor</h1>
        </header>
        <main class="main">
            <section class="main__sensor">
                <div class="main__sensor-details">
                    <h4 class="main__sensor-title">ID del Sensor: <span id="sensor-id">Cargando...</span></h4>
                    <svg class="main__sensor-graph" width="1082" height="96" viewBox="0 0 1082 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 88H1081" stroke="#34A853" stroke-width="2"/>
                        <path d="M1 88.0002C201 -11.9998 401 48.0002 601 8.00021C801 -31.9998 1001 128 1081 88.0002" stroke="#34A853" stroke-width="3"/>
                    </svg>
                    <ul class="main__sensor-info--list">
                        <li class="main__sensor-info--item">Tipo: <span id="tipo-sensor">Cargando...</span></li>
                        <li class="main__sensor-info--item">Nombre: <span id="ubicacion-sensor">Cargando...</span></li>
                        <li class="main__sensor-info--item">Referencia: <span id="ultima-lectura">Cargando...</span></li>
                        <li class="main__sensor-info--item">Estado: <span id="estado-sensor">Cargando...</span></li>
                    </ul>
                </div>
                <div class="main__sensor-actions">
                    <button class="button button--edit" onclick="irActualizarSensor()">Actualizar Sensor</button>
                    <button class="button button--report" onclick="window.location.href='../views/excel.html'">Generar Reporte</button>
                </div>
            </section>

            <section class="history">
                <h2 class="history__title">Historial de lecturas</h2>
                <ul class="history__list" id="historial-lecturas">
                    <li class="history__item">Cargando historial...</li>
                </ul>
                <a href="listar-sensor-sebas.html">
                    <button class="button button--back">Volver</button>
                </a>
            </section>
        </main>
    </div>

    <script src="../js/pages/visualizar-sensor.js"></script>
</body>
</html>