<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Visualizar Insumo</title>
  <link rel="stylesheet" href="../css/pages/visualizar-insumo-style.css" />
</head>
<body>
  <div class="gov">
        <img src="/frontend/IMG/gov_co.png" alt="">
  </div>   
    <header class="header">
        <div class="header__logo"></div>
    </header>
  <main class="container">
    <section class="container__header">
      <div class="container__title">
        <h1><svg class="container__decoration-title" width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 0L10.5 5L5.5 10L0.5 5L5.5 0Z" fill="#4BBD17"/>
            </svg>
            Visualizar Insumo</h1>
      </div>
    </section>

    <div class="container__fields">
      <div class="field">
        <span class="field__label">Nombre del insumo:</span>
        <span class="field__value" id="nombre-insumo">Cargando...</span>
      </div>
      <div class="field">
        <span class="field__label">ID del insumo:</span>
        <span class="field__value" id="ID-insumo">Cargando...</span>
      </div>
      <div class="field">
        <span class="field__label">Tipo de insumo:</span>
        <span class="field__value" id="tipo-insumo">Cargando...</span>
      </div>
      <div class="field">
        <span class="field__label">Unidad de medida:</span>
        <span class="field__value" id="unidad-insumo">Cargando...</span>
      </div>
      <div class="field">
        <span class="field__label">Cantidad:</span>
        <span class="field__value" id="cantidad-insumo">Cargando...</span>
      </div>
      <div class="field">
        <span class="field__label">Valor unitario:</span>
        <span class="field__value" id="valoru-insumo">Cargando...</span>
      </div>
      <div class="field">
        <span class="field__label">Valor total:</span>
        <span class="field__value" id="valor-insumo">Cargando...</span>
      </div>
      <div class="field">
        <span class="field__label">Descripción:</span>
        <span class="field__value" id="descripcion-insumo">Cargando...</span>
      </div>
      <div class="field">
        <span class="field__label">Estado:</span>
        <span class="field__value" id="estado-insumo">Cargando...</span>
      </div>
      <div class="button__group">
        <a href="listar-insumo-sebas.html">
        <button type="button" class="button button__back">Volver</button>
    </a>
        <a href="actualizar-insumo.html">
        <button type="button" class="button button__edit">Editar</button>
    </a>
    </div>
  </main>
  <div class="gov_co">
        <img src="/frontend/IMG/gov_co.png" alt="">
    </div>   

   <script src="../js/pages/visualizar-insumo.js"></script>
    <script src="../js/pages/permissions.js"></script>
</body>
</html>
