<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Visualizar Ciclo Cultivo</title>
  <link rel="stylesheet" href="../css/pages/visualizar-ciclo-cultivo-style.css" />
</head>
<body>
  <div class="gov">
    <img src="/frontend/IMG/gov_co.png" alt="">
  </div>
  <div class="ciclo-cultivo">
    <header class="ciclo-cultivo__header">
      <img src="/frontend/IMG/logo-sena.png" alt="SENA Logo" class="ciclo-cultivo__logo" />
      <h1 class="ciclo-cultivo__title">Visualizar Ciclo Cultivo</h1>
    </header>
    <main class="ciclo-cultivo__main">
      <section class="ciclo-cultivo__details">
        <div class="ciclo-cultivo__detail-item">
          <h2 class="ciclo-cultivo__card-title">Detalles del Ciclo del Cultivo</h2>
          <ul class="ciclo-cultivo__list" id="detalle-ciclo">
            <li class="ciclo-cultivo__list-item"><strong>Ciclo Cultivo:</strong> Cargando...</li>
            <li class="ciclo-cultivo__list-item"><strong>Fecha de siembra:</strong> Cargando...</li>
            <li class="ciclo-cultivo__list-item"><strong>ID:</strong> Cargando...</li>
            <li class="ciclo-cultivo__list-item"><strong>Novedades:</strong> Cargando...</li>
            <li class="ciclo-cultivo__list-item"><strong>Descripción:</strong> Cargando...</li>
          </ul>
        </div>
        <div class="ciclo-cultivo__buttons">
          <button id="editar-btn" class="ciclo-cultivo__btn ciclo-cultivo__btn--edit">Editar</button>
        </div>
      </section>
      <section class="ciclo-cultivo__tasks">
        <h2 class="ciclo-cultivo__subtitle">Rendimiento del ciclo</h2>
        <ul class="ciclo-cultivo__list" id="rendimiento-lista">
          <li class="ciclo-cultivo__list-item">Cargando datos...</li>
        </ul>
      </section>
      <a href="listar-ciclo-cultivo-sebas.html" class="ciclo-cultivo__link">
        <button class="ciclo-cultivo__btn ciclo-cultivo__btn--back">Volver</button>
      </a>
    </main>
  </div>

  <script src="../js/pages/visualizar-ciclo-cultivo.js"></script>
  <div class="gov_co">
    <img src="/frontend/IMG/gov_co.png" alt="">
  </div>
</body>
</html>