:root {
    /* Paleta de colores */
    --primary-100: #DBEFB9;
    --primary-400: #A5D88B;
    --primary-900: #4BBD17;
    --primary-950: #39A900;
    --white: #FFFFFF;
    --black: #000000;
    --gray-150: #F6F6F6;
    --gray-550: #949494;
    --green-border: #39A900;
    --font-primary: "Work Sans", sans-serif;
}

/* Paleta de colores */
:root {
    /* Colores primarios */
    --primary-50: #EDF7E8;
    --primary-100: #DBEFB9;
    --primary-200: #C9E8B9;
    --primary-300: #B7E0A2;
    --primary-400: #A5D88B;
    --primary-500: #93D074;
    --primary-600: #81C85D;
    --primary-700: #6FC046;
    --primary-800: #5DD12E;
    --primary-900: #4BBD17;
    --primary-950: #39A900;

    /* Colores secundarios */
    --secondary-1-50: #E8ECEF;
    --secondary-1-100: #D1DBDF;
    --secondary-1-200: #B9C7CE;
    --secondary-1-300: #A2B4BE;
    --secondary-1-400: #8B9DD6;
    --secondary-1-500: #748E9E;
    --secondary-1-600: #5D7B8E;
    --secondary-1-700: #46687E;
    --secondary-1-800: #2E566D;
    --secondary-1-900: #17435D;
    --secondary-1-950: #00304D;

    --secondary-2-50: #F2EBF3;
    --secondary-2-100: #E5D8E7;
    --secondary-2-200: #D8C4DB;
    --secondary-2-300: #CBB0CD;
    --secondary-2-400: #BE9DC3;
    --secondary-2-500: #B289B6;
    --secondary-2-600: #A576AA;
    --secondary-2-700: #98629E;
    --secondary-2-800: #8B4E92;
    --secondary-2-900: #7E3B86;
    --secondary-2-950: #71277A;

    --secondary-3-50: #EFFDFE;
    --secondary-3-100: #DFFAFE;
    --secondary-3-200: #CFD0FD;
    --secondary-3-300: #BFFAFD;
    --secondary-3-400: #AFF3FC;
    --secondary-3-500: #A0F1FC;
    --secondary-3-600: #90EEF7;
    --secondary-3-700: #80EECF;
    --secondary-3-800: #70EAFA;
    --secondary-3-900: #60E7FA;
    --secondary-3-950: #50E5F9;

    --secondary-4-50: #FFF6E8;
    --secondary-4-100: #FFF4D1;
    --secondary-4-200: #FEEFB9;
    --secondary-4-300: #FEE9A2;
    --secondary-4-400: #FEE48B;
    --secondary-4-500: #FEDE74;
    --secondary-4-600: #FEDB5D;
    --secondary-4-700: #FED346;
    --secondary-4-800: #FDCE2E;
    --secondary-4-900: #FDC817;
    --secondary-4-950: #FDC300;

    /* Colores neutros */
    --white: #FFFFFF;
    --black: #000000;
    --gray-950: #313131;
    --gray-750: #626262;
    --gray-550: #949494;
    --gray-350: #C5C5C5;
    --gray-150: #F6F6F6;

    /* Tipografía */
    --font-primary: "Work Sans", sans-serif;
    --font-secondary: "Calibri", sans-serif;

    /* Variaciones tipográficas */
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* Tamaños de fuente */
    --font-size-h1: 3.2rem;
    --font-size-h2: 2.4rem;
    --font-size-h3: 2.0rem;
    --font-size-h4: 1.6rem;
    --font-size-h5: 1.4rem;
    --font-size-h6: 1.2rem;
}

/* Estilos generales */
.page {
    font-family: var(--font-primary);
    font-size: var(--font-size-h4); /* Base */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hack para usar los rem de manera fácil */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-bold);
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-semibold);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-medium);
}

h4 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-regular);
}

h5 {
    font-size: var(--font-size-h5);
    font-weight: var(--font-light);
}

h6 {
    font-size: var(--font-size-h6);
    font-weight: var(--font-light);
}

/* Tipografía secundaria */
.calibri {
    font-family: var(--font-secondary);
}

/* Header */
.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}

.header__logo {
    width: 8rem;
    height: 8rem;
    background-size: cover;
    background-position: center;
    margin-left: 2rem;
    margin-top: 1rem;
}

/* Container */
.container {
    width: 90%;
    max-width: 120rem;
    background-color: var(--white);
    border-radius: 0.8rem;
    box-shadow: 0 0rem 0.4rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-top: 4rem;
}

.container::before {
    content: ""; 
    position: absolute; 
    inset: 0;
    background-image: url(/frontend/IMG/fondo-login.jpeg); 
    background-size: cover; 
    background-position: center; 
    opacity: 0.1; 
    z-index: 1; 
}

.container > * {
    position: relative; 
    z-index: 1; 
}

/* Sensor section */
.sensor__title {
    text-align: center;
    font-size: var(--font-size-h2);
    color: var(--black);
    margin-top: -7rem;
    font-weight: var(--font-bold);
    margin-bottom: 16rem;
    margin-right: 3rem;
}

.sensor__title svg {
    margin-right: 1rem;
    margin-bottom: 0.2rem;
}

.sensor__form {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: -11rem;
    justify-content: center;
    margin-left: 3rem;
}

.sensor__form-group {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    max-width: 38rem;
}

.sensor__form-group--full-width {
    flex: 1 1 100%;
}

.sensor__label {
    font-size: var(--font-size-h5);
    margin-bottom: 0.8rem;
    color: var(--gray-550);
}

.sensor__input {
    width: 32rem;
    height: 4.8rem;
    padding: 1rem;
    font-size: var(--font-size-h5);
    border: 0.1rem solid var(--black); 
    border-radius: 0.4rem;
    background-color: var(--gray-150);
}

.sensor__input--disabled {
    background-color: var(--gray-150);
    color: var(--gray-550);
}

.sensor__textarea {
    width: 32rem;
    height: 6rem;
    padding: 1rem;
    font-size: var(--font-size-h5);
    border: 0.1rem solid var(--black); 
    border-radius: 0.4rem;
    background-color: var(--gray-150);
    resize: none;
}

.sensor__button-group {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2rem;
}

.sensor__button {
    padding: 1.2rem 2.4rem;
    font-size: var(--font-size-h5);
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 0.1rem solid var(--black);
    z-index: 1;
}

.sensor__button--cancel {
    background-color: var(--gray-550);
    color: var(--white);
}

.sensor__button--save {
    background-color: var(--primary-900);
    color: var(--white);
    margin-right: 6rem;
}

.sensor__button--toggle {
    background-color: var(--secondary-2-900);
    color: var(--white);
    margin-right: 6rem;
}

/* Media query para pantallas de hasta 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 95%;
    }

    .sensor__title {
        margin-right: 0;
    }

    .sensor__form {
        gap: 1.5rem;
        margin-left: 0;
    }

    .sensor__form-group {
        max-width: 35rem;
    }

    .sensor__input,
    .sensor__textarea {
        width: 30rem;
    }

    .sensor__button--save,
    .sensor__button--toggle {
        margin-right: 3rem;
    }
}

/* Media query para pantallas de hasta 768px (tablets) */
@media screen and (max-width: 768px) {
    .header {
        justify-content: center;
    }

    .header__logo {
        margin-left: 0;
    }

    .container {
        width: 90%;
        padding: 1.5rem;
    }

    .sensor__title {
        margin-top: -5rem;
        margin-bottom: 12rem;
    }

    .sensor__form {
        flex-direction: column;
        align-items: center;
        margin-top: -8rem;
    }

    .sensor__form-group {
        flex: 1 1 100%;
        max-width: 90%;
        width: 100%;
    }

    .sensor__input,
    .sensor__textarea {
        width: 100%;
    }

    .sensor__button-group {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .sensor__button {
        flex: 1 1 45%;
    }

    .sensor__button--save,
    .sensor__button--toggle {
        margin-right: 0;
    }
}

/* Media query para pantallas de hasta 480px (móviles) */
@media screen and (max-width: 480px) {
    .header__logo {
        width: 6rem;
        height: 6rem;
    }

    .container {
        width: 95%;
        padding: 1rem;
    }

    .sensor__title {
        font-size: var(--font-size-h3);
        margin-top: -4rem;
        margin-bottom: 10rem;
    }

    .sensor__form {
        margin-top: -7rem;
        gap: 1rem;
    }

    .sensor__form-group {
        max-width: 100%;
    }

    .sensor__label {
        font-size: var(--font-size-h6);
    }

    .sensor__input,
    .sensor__textarea {
        height: 4rem;
        padding: 0.8rem;
        font-size: var(--font-size-h6);
    }

    .sensor__button-group {
        flex-direction: column;
    }

    .sensor__button {
        width: 100%;
        margin: 0.5rem 0;
        padding: 1rem 2rem;
    }
}