/* Paleta de colores */
:root {
    /* Colores primarios */
    --primary-50: #EDF7E8;
    --primary-100: #DBEFB9;
    --primary-200: #C9E8B9;
    --primary-300: #B7E0A2;
    --primary-400: #A5D88B;
    --primary-500: #93D074;
    --primary-600: #81C85D;
    --primary-700: #6FC046;
    --primary-800: #5DD12E;
    --primary-900: #4BBD17;
    --primary-950: #39A900;

    /* Colores secundarios */
    --secondary-1-50: #E8ECEF;
    --secondary-1-100: #D1DBDF;
    --secondary-1-200: #B9C7CE;
    --secondary-1-300: #A2B4BE;
    --secondary-1-400: #8B9DD6;
    --secondary-1-500: #748E9E;
    --secondary-1-600: #5D7B8E;
    --secondary-1-700: #46687E;
    --secondary-1-800: #2E566D;
    --secondary-1-900: #17435D;
    --secondary-1-950: #00304D;

    --secondary-2-50: #F2EBF3;
    --secondary-2-100: #E5D8E7;
    --secondary-2-200: #D8C4DB;
    --secondary-2-300: #CBB0CD;
    --secondary-2-400: #BE9DC3;
    --secondary-2-500: #B289B6;
    --secondary-2-600: #A576AA;
    --secondary-2-700: #98629E;
    --secondary-2-800: #8B4E92;
    --secondary-2-900: #7E3B86;
    --secondary-2-950: #71277A;

    --secondary-3-50: #EFFDFE;
    --secondary-3-100: #DFFAFE;
    --secondary-3-200: #CFD0FD;
    --secondary-3-300: #BFFAFD;
    --secondary-3-400: #AFF3FC;
    --secondary-3-500: #A0F1FC;
    --secondary-3-600: #90EEF7;
    --secondary-3-700: #80EECF;
    --secondary-3-800: #70EAFA;
    --secondary-3-900: #60E7FA;
    --secondary-3-950: #50E5F9;

    --secondary-4-50: #FFF6E8;
    --secondary-4-100: #FFF4D1;
    --secondary-4-200: #FEEFB9;
    --secondary-4-300: #FEE9A2;
    --secondary-4-400: #FEE48B;
    --secondary-4-500: #FEDE74;
    --secondary-4-600: #FEDB5D;
    --secondary-4-700: #FED346;
    --secondary-4-800: #FDCE2E;
    --secondary-4-900: #FDC817;
    --secondary-4-950: #FDC300;

    /* Colores neutros */
    --white: #FFFFFF;
    --black: #000000;
    --gray-950: #313131;
    --gray-750: #626262;
    --gray-550: #949494;
    --gray-350: #C5C5C5;
    --gray-150: #F6F6F6;

    /* Tipografía */
    --font-primary: "Work Sans", sans-serif;
    --font-secondary: "Calibri", sans-serif;

    /* Variaciones tipográficas */
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* Tamaños de fuente */
    --font-size-h1: 3.2rem;
    --font-size-h2: 2.4rem;
    --font-size-h3: 2.0rem;
    --font-size-h4: 1.6rem;
    --font-size-h5: 1.4rem;
    --font-size-h6: 1.2rem;
}

/* Hack para usar los rem de manera fácil */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Estilos generales */
.page {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    background-color: var(--white);
    overflow-x: hidden; /* Previene scroll horizontal */
    min-height: 100vh; /* Asegura que el contenido ocupe al menos la altura de la ventana */
    overflow: hidden;
}

/* Header */
.page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: var(--white);
    border-bottom: 0.1rem solid var(--white);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.page__header::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url(/frontend/IMG/2.png) no-repeat center;
    background-size: cover;
    background-position: center;
    opacity: 0.6; 
    z-index: -1; 
    filter: grayscale(100%);
}

.page__header-logo {
    width: 8rem;
    height: 8rem;
    background-image: url('/frontend/IMG/logo-sena.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 2rem;
    margin-top: -1rem;
}

.page__header-title {
    font-size: var(--font-size-h2);
    margin: 0;
    font-style: italic;
    margin-top: -5rem;
    justify-content: left;
}

.page__header-subtitle {
    margin-left: 13rem;
}

.page__header-user--options {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    padding: 1rem 0;
}

.page__header-user--link,
.page__header-logout--link {
    text-decoration: none;
    color: var(--black);
    font-size: var(--font-size-h4);
    cursor: default;
}

.nav {
    width: 50%; 
}

.nav__list {
    list-style: none;
    display: flex;
    margin-left: -48rem;
    gap: 3rem;
    margin-top: 4rem; 
    margin-bottom: -3rem;
}

.nav__list-link {
    text-decoration: none;
    color: var(--black);
    font-size: var(--font-size-h4);
}

.main {
    padding: 2rem;
}

.main__welcome {
    padding: 1rem;
    margin-bottom: 2rem;
}

.main__welcome-title {
    font-size: var(--font-size-h3);
    margin: 0;
    margin-bottom: -1rem;
}

.content {
    display: flex;
    justify-content: center; 
    background-color: var(--white);
    border: 0.1rem solid var(--black);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.5rem rgba(12, 231, 5, 0.5); 
    margin-top: -4rem;
}

.content__cards {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    width: 100%;
}

.content__cards-card {
    flex: 1;
    padding: 3rem;
    width: 36rem;
    height: auto;
    min-height: 45rem;
    border: 0.1rem solid var(--gray-550);
    border-radius: 0.5rem;
    position: relative;
    
}

.content__cards-card::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.3rem solid var(--primary-950); 
    border-radius: 0.5rem;
    opacity: 0.1; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.content__cards-card--cultivos::before {
    background-image: url('/frontend/IMG/card-1.jpeg'); 
}

.content__cards-card--sensores::before {
    background-image: url('/frontend/IMG/card-2.jpeg'); 
}

.content__cards-card--info::before {
    background-image: url('/frontend/IMG/card-3.jpeg'); 
}

.content__card-title {
    font-size: var(--font-size-h3);
    margin-top: 0;
    color: var(--black);
    z-index: 1;
    font-weight: var(--font-medium);
    position: relative;
}

.content__card-text {
    font-size: var(--font-size-h5);
    margin: 0.5rem 0;
    color: var(--black);
    z-index: 1;
    font-weight: var(--font-medium);
    position: relative;
}

.content__card-image {
    width: 100%;
    height: 10rem;
    background-color: var(--gray-150); 
    background-size: cover;
    background-position: center;
    opacity: 0.2; 
    margin-bottom: 1rem;
    position: relative;
}

.gov {
    margin-top: -1.3rem;
}

.gov_co {
    margin-bottom: -1rem;
}
/* Tipografía secundaria */
.calibri {
    font-family: var(--font-secondary);
}

@media screen and (max-width: 1200px) {
    .page__header {
        padding: 2rem;
        flex-direction: column;
    }

    .page__header-logo {
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .page__header-title {
        margin-top: 0;
        text-align: center;
    }

    .page__header-user--options {
        justify-content: center;
        white-space: nowrap;
        margin-top: 2rem;
    }

    .page__header-subtitle {
        margin-left: 0;
        text-align: center;
    }

    .nav {
        width: 100%;
    }

    .nav__list {
        margin-left: 0;
        justify-content: center;
        margin-top: 2rem;
        gap: 2rem;
    }

    .content__cards {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .content__cards-card {
        min-height: 40rem;
        width: calc(50% - 1rem);
    }
}

@media screen and (max-width: 768px) {

    .page__header {
        padding: 1.5rem;
    }

    .page__header-user--options {
        flex-direction: column;
        gap: 1rem;
    }

    .nav__list {
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
    }

    .main {
        padding: 1rem;
    }

    .content {
        padding: 1.5rem;
    }

    .content__cards {
        flex-direction: column;
    }

    .content__cards-card {
        width: 100%;
        min-height: 35rem;
    }
}

@media screen and (max-width: 480px) {

    .page__header {
        padding: 1rem;
    }

    .page__header-logo {
        width: 6rem;
        height: 6rem;
    }

    .page__header-title {
        font-size: var(--font-size-h3);
    }

    .nav__list {
        gap: 1rem;
        margin-top: 1rem;
    }

    .nav__list-link {
        font-size: var(--font-size-h5);
    }

    .main__welcome-title {
        font-size: var(--font-size-h4);
    }

    .content__cards-card {
        padding: 1.5rem;
        min-height: 30rem;
    }

    .content__card-title {
        font-size: var(--font-size-h4);
    }

    .content__card-text {
        font-size: var(--font-size-h6);
    }
}