/* Paleta de colores */
:root {
    /* Colores primarios */
    --primary-50: #EDF7E8;
    --primary-100: #DBEFB9;
    --primary-200: #C9E8B9;
    --primary-300: #B7E0A2;
    --primary-400: #A5D88B;
    --primary-500: #93D074;
    --primary-600: #81C85D;
    --primary-700: #6FC046;
    --primary-800: #5DD12E;
    --primary-900: #4BBD17;
    --primary-950: #39A900;

    /* Colores secundarios */
    --secondary-1-50: #E8ECEF;
    --secondary-1-100: #D1DBDF;
    --secondary-1-200: #B9C7CE;
    --secondary-1-300: #A2B4BE;
    --secondary-1-400: #8B9DD6;
    --secondary-1-500: #748E9E;
    --secondary-1-600: #5D7B8E;
    --secondary-1-700: #46687E;
    --secondary-1-800: #2E566D;
    --secondary-1-900: #17435D;
    --secondary-1-950: #00304D;

    --secondary-2-50: #F2EBF3;
    --secondary-2-100: #E5D8E7;
    --secondary-2-200: #D8C4DB;
    --secondary-2-300: #CBB0CD;
    --secondary-2-400: #BE9DC3;
    --secondary-2-500: #B289B6;
    --secondary-2-600: #A576AA;
    --secondary-2-700: #98629E;
    --secondary-2-800: #8B4E92;
    --secondary-2-900: #7E3B86;
    --secondary-2-950: #71277A;

    --secondary-3-50: #EFFDFE;
    --secondary-3-100: #DFFAFE;
    --secondary-3-200: #CFD0FD;
    --secondary-3-300: #BFFAFD;
    --secondary-3-400: #AFF3FC;
    --secondary-3-500: #A0F1FC;
    --secondary-3-600: #90EEF7;
    --secondary-3-700: #80EECF;
    --secondary-3-800: #70EAFA;
    --secondary-3-900: #60E7FA;
    --secondary-3-950: #50E5F9;

    --secondary-4-50: #FFF6E8;
    --secondary-4-100: #FFF4D1;
    --secondary-4-200: #FEEFB9;
    --secondary-4-300: #FEE9A2;
    --secondary-4-400: #FEE48B;
    --secondary-4-500: #FEDE74;
    --secondary-4-600: #FEDB5D;
    --secondary-4-700: #FED346;
    --secondary-4-800: #FDCE2E;
    --secondary-4-900: #FDC817;
    --secondary-4-950: #FDC300;

    /* Colores neutros */
    --white: #FFFFFF;
    --black: #000000;
    --gray-950: #313131;
    --gray-750: #626262;
    --gray-550: #949494;
    --gray-350: #C5C5C5;
    --gray-150: #F6F6F6;

    /* Tipografía */
    --font-primary: "Work Sans", sans-serif;
    --font-secondary: "Calibri", sans-serif;

    /* Variaciones tipográficas */
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* Tamaños de fuente */
    --font-size-h1: 3.2rem;
    --font-size-h2: 2.4rem;
    --font-size-h3: 2.0rem;
    --font-size-h4: 1.6rem;
    --font-size-h5: 1.4rem;
    --font-size-h6: 1.2rem;
}

/* Estilos generales */
body {
    font-family: var(--font-primary);
    font-size: var(--font-size-h4); /* Base */
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-bold);
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-semibold);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-medium);
}

h4 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-regular);
}

h5 {
    font-size: var(--font-size-h5);
    font-weight: var(--font-light);
}

h6 {
    font-size: var(--font-size-h6);
    font-weight: var(--font-light);
}

/* Regla para que todas las imágenes sean responsivas */
img {
    max-width: 100%;
    height: auto;
}

/* Tipografía secundaria */
.calibri {
    font-family: var(--font-secondary);
}

/* Hack para usar los rem de manera fácil */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/frontend/IMG/imagen-register.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 0;
    filter: grayscale(100%);
}

html > * {
    position: relative; 
    z-index: 1; 
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

input[type="submit"] {
    cursor: pointer;
}

.main__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
    padding: 0 2rem;
}

h1 {
    margin-top: 7rem;
    font-family: var(--font-primary);
    font-size: var(--font-size-h1);
    font-weight: var(--font-bold);
    margin-left: 24rem;
    margin-bottom: -2rem;
}

.header__logo {
    width: 8rem;
    height: auto;
    margin-top: -19rem;
    margin-left: 3rem;
}

.header__search {
    width: 32rem;
    height: 4rem;
    background: var(--white);
    border-radius: 2rem;
    border: none;
    padding: 1.2rem 2.4rem;
    margin-top: 3rem;
    margin-left: -55rem;
}

.card {
    width: 34rem;
    height: auto;
    border-radius: 1rem;
    background: linear-gradient(135deg, var(--white), var(--secondary-1-50));
    padding-bottom: 2rem;
    text-align: center;
    border: 2px solid var(--primary-900); /* Borde verde añadido */
}

.card__title {
    font-family: var(--font-primary);
    font-size: var(--font-size-h3);
    font-weight: var(--font-bold);
}

.card__info {
    font-family: var(--font-primary);
    font-size: var(--font-size-h4);
    font-weight: var(--font-regular);
}

.card__button {
    background:  var(--primary-900);
    color: var(--white);
    padding: 1.2rem 2.4rem;
    font-size: var(--font-size-h5);
    font-weight: var(--font-regular);
    border: none;
    border-radius: 0.6rem;
}

.button--green {
    background: var(--primary-900);
    color: var(--white);
    padding: 1.2rem 2.4rem;
    font-size: var(--font-size-h5);
    font-weight: var(--font-regular);
    border: none;
    border-radius: 0.6rem;
    position: absolute;
    margin-left: 46%;
    margin-bottom: -5rem;
}

.button--gray {
    background: var(--secondary-1-300);
    color: var(--white);
    padding: 1.2rem 2.4rem;
    font-size: var(--font-size-h5);
    font-weight: var(--font-regular);
    border: 0.1rem solid var(--black);
    border-radius: 0.6rem;
    left: -5rem;
    margin-top: 1rem;
}

.button--return {
    background-color: var(--gray-550);
    color: var(--white);
    padding: 1.2rem 2.4rem;
    font-size: var(--font-size-h5);
    font-weight: var(--font-regular);
    border: 0.1rem solid var(--black);
    border-radius: 0.6rem;
    margin-top: 15%;
    margin-left: -90%;
}

.button--crear {
    background: var(--primary-900);
    color: var(--white);
    padding: 1.2rem 2.4rem;
    font-size: var(--font-size-h5);
    font-weight: var(--font-regular);
    border: 0.1rem solid var(--black);
    border-radius: 0.6rem;
    margin-top: 15%;
    margin-left: 10%;
}

.footer__buttons {
    display: flex;
    margin-top: -1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer__pagination {
    border-radius: 10rem;
    gap: 10rem;
}

.pagination__button {
    background-color: var(--primary-900);
    border: none;
    border-radius: 10rem;
    color: var(--white);
    align-items: center;
    padding: 0.8rem 1.2rem;
}

.footer {
    display: flex;  
    justify-content: space-around;
    align-items: center;
    margin-top: 22rem;
    margin-left: 6rem;
    margin-top: 2rem;
}         

.gov_co {
    margin-bottom: 9rem;
    position: absolute;
}

/* Media Queries */

/* Desktop grande (1200px y mayor) */
@media (min-width: 1201px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1140px;
        margin: 0 auto;
    }
    
    .header__search {
        width: 35rem;
    }

    .button--green {
        margin-left: 70rem;
    }
}

/* Desktop y Tablets (entre 769px y 1200px) */
@media (min-width: 769px) and (max-width: 1200px) {
    html {
        font-size: 60%;
    }
    
    h1 {
        margin-left: 15rem;
    }
    
    .header__logo {
        margin-top: -15rem;
    }
    
    .header__search {
        width: 25rem;
        margin-left: -30rem;
    }
    
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    
    .card {
        width: 30rem;
    }
    
    .button--green {
        margin-left: 70rem;
    }
    
    .button--gray {
        margin-left: 150%;
    }
    
    .footer {
        margin-top: 10rem;
    }
}

/* Tablets y móviles grandes (entre 481px y 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    html {
        font-size: 55%;
    }

    body {
        font-size: var(--font-size-h5);
    }

    h1 {
        font-size: var(--font-size-h2);
        margin-top: 3rem;
        margin-left: 5rem;
        text-align: center;
    }

    .header {
        flex-direction: column;
        gap: 1rem;
        margin: 1rem;
    }

    .header__search {
        width: 90%;
        height: auto;
        padding: 1rem;
        border-radius: 1rem;
        margin: 0 auto;
        font-size: var(--font-size-h5);
    }

    .header__logo {
        margin-top: -4rem;
        margin-left: 1rem;
    }

    .button--green {
        width: 90%;
        margin: 0 auto;
        margin-top: 0.5rem;
        padding: 1rem;
        font-size: var(--font-size-h5);
        position: static;
    }

    .button--gray {
        width: 90%;
        margin: 0 auto;
        margin-top: 0.5rem;
        padding: 1rem;
        font-size: var(--font-size-h5);
        position: static;
    }

    .main__container {
        margin: 1rem;
        gap: 1rem;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .card {
        width: 100%;
        height: auto;
        padding: 1rem;
        border-radius: 1rem;
    }

    .card__title {
        font-size: var(--font-size-h3);
    }

    .card__info {
        font-size: var(--font-size-h5);
    }

    .card__button {
        width: 100%;
        margin-top: 1rem;
        padding: 0.6rem;
        font-size: var(--font-size-h5);
    }

    .button--return {
        width: 100%;
        margin: 1rem auto;
        padding: 1rem;
        font-size: var(--font-size-h5);
    }

    .footer__buttons {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .footer__pagination {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .pagination__button {
        padding: 0.5rem 1rem;
        font-size: var(--font-size-h5);
    }

    .footer {
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 0;
        margin-top: 8rem;
        width: 100%;
    }
}

/* Móviles (480px y menor) */
@media (max-width: 480px) {
    html {
        font-size: 50%;
    }

    body {
        font-size: var(--font-size-h6);
    }

    h1 {
        font-size: var(--font-size-h3);
        margin-top: 2rem;
        margin-left: 0;
        text-align: center;
    }

    .header {
        flex-direction: column;
        gap: 1rem;
        margin: 1rem;
    }

    .header__search {
        width: 90%;
        height: auto;
        padding: 1rem;
        border-radius: 1rem;
        margin: 0 auto;
        font-size: var(--font-size-h6);
    }

    .header__logo {
        margin-top: -2rem;
        margin-left: 1rem;
        width: 6rem;
    }

    .button--green {
        width: 90%;
        margin: 0 auto;
        margin-top: 0.5rem;
        padding: 1rem;
        font-size: var(--font-size-h6);
        position: static;
    }

    .button--gray {
        width: 100%;
        margin: 0 auto;
        margin-top: 0.5rem;
        padding: 1rem;
        font-size: var(--font-size-h6);
        position: static;
    }

    .main__container {
        margin: 1rem;
        gap: 1rem;
    }

    .cards {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .card {
        width: 100%;
        height: auto;
        padding: 1rem;
        border-radius: 1rem;
    }

    .card__title {
        font-size: var(--font-size-h4);
    }

    .card__info {
        font-size: var(--font-size-h6);
    }

    .card__button {
        width: 100%;
        margin-top: 1rem;
        padding: 0.3rem;
        font-size: var(--font-size-h6);
    }

    .button--return {
        width: 100%;
        margin: 1rem auto;
        padding: 1rem;
        font-size: var(--font-size-h6);
    }

    .footer__buttons {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .footer__pagination {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .pagination__button {
        padding: 0.5rem 1rem;
        font-size: var(--font-size-h6);
    }

    .footer {
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 0;
        margin-top: 5rem;
        width: 100%;
    }
}